	<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

	<section class="contact-footer">
		<div class="row wide">
		<h1>Contato</h1>
			<div class="medium-6 columns">
				<div class="row">

					<div class="small-6 medium-12 columns">

						<h4 class="location">Universidade Federal do Piauí - UFPI</h4>
						<p>Campus Senador Helvídio Nunes de Barros<br>
							Rua Cícero Duarte - n. 905 - Bairro Junco - Picos - PI<br>

							<h4 class="phone"></h4>
						</div>
						<div class="small-6 medium-12 columns">
							<h4 class="email">Email</h4>
							<p>sinfovi@gmail.com</p>

							<h4>Social</h4>
							<ul class="inline-list social">

								<a href="#"><i class="fi-social-facebook"></i></a>

							</ul>
						</div>
					</div>
				</div>
				<div class="medium-6 columns">
					<form class="round-inputs">
						<div class="row">
							<div class="large-12 columns">
								<input type="text" placeholder="Name" />
							</div>
							<div class="large-12 columns">
								<input type="email" placeholder="Email" />
							</div>
							<div class="large-12 columns">
								<input type="text" placeholder="Telephone" />
							</div>
							<div class="large-12 columns">
								<textarea placeholder="Say 'what' again. Say 'what' again, I dare you, I double dare you..."></textarea>
								<a href="#" class="button round">Submit</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
