<div class="row" data-equalizer>

<p>
Para a submissão de artigos, encaminhe um e-mail, até o dia 10/01/16, com o assunto "Artigo-SINFO", para o endereço sinfovii@gmail.com e arquivo, como especificado em nosso edital, em anexo.  
</p>

<a href = "https://www.dropbox.com/s/peii027ysyjyqrk/Edital%20artigos.docx?dl=0 "> Acesse o edital com as diretrizes para a apresentação de trabalhos. </a>
</div>
