<div class="row" data-equalizer>
<h1>Em breve</h1>
<p>
O Período de Submissão de trabalhos será entre os dias 23/11/2015 e 31/12/2015;
</p>

<a href = "https://www.dropbox.com/s/peii027ysyjyqrk/Edital%20artigos.docx?dl=0 "> Acesse o edital com as diretrizes para a apresentação de trabalhos. </a>
</div>
