
<div class="row" data-equalizer>
	<div class="large-10 large-centered columns">
		<img src='http://sinfoufpi.com.br/assets/cronograma.jpeg' >	
	</div>
	<p>
		Dúvidas ou esclarecimentos entre em <%= link_to 'Contato',new_contact_path %> 
	</p>
</div>