<%= form_for(@minhainscricao) do |f| %>
  <% if @minhainscricao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@minhainscricao.errors.count, "error") %> prohibited this minhainscricao from being saved:</h2>

      <ul>
      <% @minhainscricao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
