        <div class="row">
        	<div class="large-12 columns">
        		<div class="row">
        		<h1>Informações úteis</h1>


        			<div class="large-4 small-6 columns">
        				<%= link_to image_tag('alimentação2.jpg'), apresentacao_index_path%>
        				<h6 class="panel">Alimentação</h6>
                                        <p>
                                           Basicamente, a alimentação dos participantes acontecerão no restaurante universitário da instituição, as refeições nele custarão R$ 3,00 e o cardápio oferecido poderá ser acompanhado através do aplicativo  disponível para download gratuito neste <a href = https://dl.dropboxusercontent.com/u/3890173/CardapioRuPicos.apk> link </a>.
                                        </p>
        			</div>
                                        <div class="large-4 small-6 columns">
                        <%= link_to image_tag('alojamento.png'), apresentacao_index_path%>
                        <h6 class="panel">Alojamento</h6>
                                        <p>
                                                Serão disponibilizadas salas da universidade para esta finalidade, de modo que, no ato da inscrição, o candidato terá como opção a disponibilização deste alojamento, sem acréscimos à sua inscrição.
                                        </p>
                    </div>



        			<div class="large-4 small-6 columns">
        				<%= link_to image_tag('transporte.jpg'), apresentacao_index_path%>
        				<h6 class="panel">Transporte</h6>
                                        <p>

        A cidade de picos possui transporte público com translado ao centro, mas todos os serviços necessários para os participantes durante o simpósio, como hotéis, restaurantes e espaços de lazer existem nas proximidades da Universidade. Além disso, a UFPI possui ônibus próprio que faz o translado ao centro, que será disponibilizado ao evento.

                                        </p>
        			</div>

        		</div>
        	</div>
        </div>
