      <div class="row">
        <hr>
        <h1> Apoio </h1>
        <div class="large-12 columns">

          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
  
           <li><%=image_tag('Fapepi.jpg')%></li>
           <li><%=image_tag('Evidencia.jpg')%></li>
           <li><%=image_tag('sebrae-logo')%></li>
           <li><%=image_tag('Boticario.png')%></li>


          </ul>
        </div>
      </div>